<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="vieport" content="width=device-width, initial-scale=1">
  <title>GrandPy Bot</title>
  <!-- Bootstrap core CSS and custom CSS stylesheet-->
  <link href="{{ url_for('static', filename='css/Bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_MAP_KEY}}">
    </script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>
     
<body> <!-- ***** BODY ***** -->
  <header> <!-- ***** HEADER BANNER ***** -->
    <div class="container-fluid banner">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <img src="{{ url_for('static', filename='img/grandPygif.gif') }}" alt="logo" width="256"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 titre">
          <h1>GrandPy-Bot</h1>
          <h2>Que veux-tu savoir mon petit...</h2>
        </div>
      </div>
    </div>
  </header>

  <section> <!-- *****  FORM SECTION  ***** -->    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center v-center">
          <form class="col-lg-12">
            <div class="input-group">
                <form class="userQuestion" action="index.html" method="post">
                    <input type="text" class="center-block form-control input-lg" title="Je t'écoute mon petit" placeholder="Je t'écoute..." id="userRequest"/>
                    <span class="input-group-btn">
                      <button id="button-granpy" class="btn btn-lg btn-primary" type="button">S'il te plaît GrandPy.</button>
                    </span>
                </form>
            </div>
          </form>
        </div>
      </div> 
    </div>
  </section>

  <section>
    <div class="container">
      <div class="answer"><!-- AJAX RESPONSE AREA  -->
        <div id="loaderDiv">
          <img src="../static/img/loader.gif" alt="loader" width="128"/>
        </div>
      </div>      
    </div>
  </section>

  <section> <!-- ***** GOOGLEMAP SECTION  ***** -->
    <div id="map"></div>
  </section>
 
  <footer>
              <!-- ***** SOCIAL ***** -->
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="module divider-bottom">

        <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5 class="montserrat text-uppercase bottom-line">Social</h5>
            <ul class="social-icons social-icons-colored social-icons-circle m-t-50">
              <li><a href="https://www.facebook.com/antony.boivin.12" class="bg-facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/antony-boivin-353a4a144/" class="bg-linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/antonyboivin" class="bg-github"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="LegalNotice">
        <p>Antony Boivin - 2018 - Aucun droit réservé.</p>
        <p>Image de GrandPy-Bot : <a href="http://clipartmag.com/old-man-pictures-cartoon">Old Man Pictures Cartoon</a> </p>
      </div>
</section>

  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/customscript.js') }}"></script>
</body>

</html>
