<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="vieport" content="width=device-width, initial-scale=1">

  <title>GrandPy Bot</title>

  <!-- Bootstrap core CSS and CSS stylesheet -->
  <link href="../static/css/Bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

  <header>
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div>
            <img src="../static/img/granpy.jpg" alt="logo" width="256"/>
          </div>
        </div>
      </div>
        <h1>GrandPy Bot</h1>
        <h2>Que veux-tu savoir ?</h2>
      </div>
  </header>

  <section>
  </section>

  <footer>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

  <script>
  </script>

</body>

</html>