<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="vieport" content="width=device-width, initial-scale=1">

  <title>GrandPy Bot</title>

  <!-- Bootstrap core CSS and custom CSS stylesheet -->
  <link href="../static/css/Bootstrap.min.css" rel="stylesheet"><!-- <link href="{{ url_for('static', filename='css/Bootstrap.min.css') }}" rel="stylesheet"> -->
  <link href="../static/css/style.css" rel="stylesheet"><!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->
</head>
     
<body> <!-- ***** BODY ***** -->

  <header> <!-- ***** HEADER BANNIERE ***** -->
    <div class="container-fluid banner">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          <img src="../static/img/grandPygif.gif" alt="logo" width="256"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 titre">
          <h1>GrandPy-Bot</h1>
          <h2>Que veux-tu savoir mon petit...</h2>
        </div>
      </div>
    </div>
  </header>

  <section> <!-- ***** SECTION FORULAIRE  ***** -->    
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center v-center"> <!--   -->
          <form class="col-lg-12">
            <div class="input-group">
                <form class="userQuestion" action="index.html" method="post">
                    <input type="text" class="center-block form-control input-lg" title="Je t'écoute mon petit" placeholder="Je t'écoute..." id="userRequest"/>
                    <span class="input-group-btn">
                      <button id="button-granpy" class="btn btn-lg btn-primary" type="button">S'il te plaît GrandPy.</button>
                    </span>
                </form>
            </div>
          </form>
        </div>
      </div> 
    </div>
  </section>

  <section>
    <div class="container">
      <div class="answer"><!-- ZONE DE R2PONSE AJAX -->
      </div>      
    </div>
  </section>

  <section> <!-- ***** SECTION GoogleMap  ***** -->
    <div class="map"> 
      <iframe
        width="500"
        height="250"
        frameborder="" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJoClBGNF-tJf3Gq1QY6v1zK6O09_2nrg
        &q=reims" allowfullscreen>
      </iframe>
    </div>
  </section>

  <footer>
              <!-- ***** SOCIAL ***** -->
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">  -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="module divider-bottom">

        <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!-- col-sm-8 col-sm-offset-2 -->
            <h5 class="montserrat text-uppercase bottom-line">Social</h5>
            <ul class="social-icons social-icons-colored social-icons-circle m-t-50">
              <li><a href="#" class="bg-facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="bg-linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="bg-github"><i class="fa fa-github"></i></a></li>
            </ul>

          </div>

        </div><!-- .row -->

      </div>
</section>




  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../static/js/jquery.js"></script> <!-- <script src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
  <script src="../static/js/bootstrap.min.js"></script><!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->

  <script>
    $(document).ready(function () {
        $("#button-granpy").click(function (event) {
          var userEntry = 'Vous : ' + $("#userRequest").val();

          var div = document.createElement('div');
          div.style.border = "5px outset green"
          div.style.marginBottom = "10px";
          div.style.fontSize = "large";



          div.append(userEntry);
          $(".answer").append(div);

            $.ajax({
                url: "/userRequest",
                type: "POST",
                dataType: "json",
                data: {userRequest: userEntry },
                success: function (userRequest) {

                  var div = document.createElement('div');
                  var userRequest = "GrandPy : " + userRequest;
                  div.style.color = 'yellow';
                  div.style.textAlign = 'right';
                  div.style.border = "5px outset white";
                  div.style.marginBottom = "10px";
                  div.style.fontSize = "large";
                  div.focus();

                  div.append(userRequest);
                  $(".answer").append(div);

                  $(".answer").scrollTop($(".answer")[0].scrollHeight);


                }

            });
        });
    });
  </script>

</body>

</html>

<!--

  <script>
    $(document).ready(function () {
        $("#button-granpy").click(function (event) {
          var userEntry = $("#userRequest").val();

          var paragraphe = document.createElement('p');
          paragraphe.append(userEntry);
          $(".answer").append(paragraphe);

            $.ajax({
                url: "/userRequest",
                type: "POST",
                dataType: "json",
                data: {userRequest: userEntry },
                success: function (userRequest) {

                  var paragraphe = document.createElement('p');
                  paragraphe.append(userRequest);
                  $(".answer").append(paragraphe);
                }

            });
        });
    });
  </script>



-->